
{
    "extends": [
      "@quotecenter/eslint-config-home-depot-quotecenter",
    ],
    "env": {
      "browser": true,
      "jest": true
    },
    "rules": {
      "import/prefer-default-export": "off",
      "react/jsx-one-expression-per-line": "allow",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "parser": "babel-eslint"
  }